<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean name="userActionBean" class="action.userAction">
    <property name="userservice" ref="userserviceImpl"></property>
    <property name="messageservice" ref="messageserviceImpl"></property>
    <property name="relationservice" ref="relationserviceImpl"></property>
    <property name="idolweiboservice" ref="idolweiboserviceImpl"></property>
</bean>
    <bean name="idolweiboserviceImpl" class="service.idolweiboServiceImpl">
        <property name="relationservice" ref="relationserviceImpl"></property>
        <property name="messageservice" ref="messageserviceImpl"></property>
        <property name="userservice" ref="userserviceImpl"></property>
    </bean>
    <bean name="userserviceImpl" class="service.userServiceImpl">
        <property name="userdao" ref="userdaoImpl"></property>
    </bean>
    <bean name="userdaoImpl" class="dao.userDAOImpl">
        <property name="sessionFactory" ref="sf"></property>
    </bean>
    <bean name="messageserviceImpl" class="service.messageServiceImpl">
        <property name="messagedao" ref="messagedaoimpl"></property>
    </bean>
    <bean name="messagedaoimpl" class="dao.messageDAOImpl">
        <property name="sessionFactory" ref="sf"></property>
    </bean>
    <bean name="relationserviceImpl" class="service.relationServiceImpl">
        <property name="relationdao" ref="relationdaoImpl"></property>
    </bean>
    <bean name="relationdaoImpl" class="dao.relationDAOImpl">
        <property name="sessionFactory" ref="sf"></property>
    </bean>
    <bean name="sf"     class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="dataSource" ref="ds"/>
        <property name="mappingResources">
            <list>
                <value>User.hbm.xml</value>
                <value>Relation.hbm.xml</value>
                <value>Message.hbm.xml</value>
                <value>Picture.hbm.xml</value>
            </list>
        </property>

        <property name="hibernateProperties">
            <value>
                hibernate.dialect=org.hibernate.dialect.MySQLDialect
                hibernate.show_sql=true
                hbm2ddl.auto=update
            </value>
        </property>
    </bean>


    <bean name="ds"     class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/miniweibo?characterEncoding=UTF-8"/>
        <property name="username" value="root"/>
        <property name="password" value="lizhiqian512"/>
    </bean>

</beans>