<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean name="userinfoActionBean" class="action.userinfoAction">
        <property name="userinfoservice" ref="userinfoserviceImpl"></property>
    </bean>
    <bean name="userinfoserviceImpl" class="service.userinfoServiceImpl">
        <property name="userinfodao" ref="userinfodaoImpl"></property>
    </bean>
    <bean name="userinfodaoImpl" class="dao.userinfoDAOImpl">
        <property name="sessionFactory" ref="sf"></property>
    </bean>
<bean name="relationActionBean" class="action.relationAction">
    <property name="relationservice" ref="relationserviceImpl"></property>
    <property name="userservice" ref="userserviceImpl"></property>
</bean>
    <bean name="manageActionBean" class="action.manageAction">
        <property name="usingDetailManageImpl" ref="usingDetailManageImpl"></property>
        <property name="manageuserList" ref="manageuserList"></property>
        <property name="messageserviceImpl" ref="messageserviceImpl"></property>
        <property name="userserviceImpl" ref="userserviceImpl"></property>
    </bean>
    <bean name="userActionBean" class="action.userAction">
    <property name="userservice" ref="userserviceImpl"></property>
    <property name="messageservice" ref="messageserviceImpl"></property>
    <property name="relationservice" ref="relationserviceImpl"></property>
    <property name="idolweiboservice" ref="idolweiboserviceImpl"></property>
    </bean>
    <bean name="commentActionBean" class="action.commentAction">
        <property name="commentservice"><ref bean="commentservice"></ref></property>
    </bean>
    <bean name="messageActionBean" class="action.messageAction">
        <property name="messageservice" ref="messageserviceImpl"></property>
        <property name="transpondservice" ref="transpondserviceImple"></property>
        <property name="userservice" ref="userserviceImpl"></property>
        <property name="agreedao" ref="agreedaoImpl"></property>
        <property name="collectiondao" ref="collectiondaoImpl"></property>
        <property name="transponddao" ref="transponddaoImpl"></property>
        <property name="relationservice" ref="relationserviceImpl"></property>
    </bean>
    <bean name="agreeActionBean" class="action.agreeAction">
        <property name="agreeService" ref="agreeserviceImpl"></property>
    </bean>
    <bean name="searchActionBean" class="action.searchAction">
        <property name="userdao" ref="userdaoImpl"></property>
        <property name="messagedao" ref="messagedaoimpl"></property>
        <property name="service" ref="relationserviceImpl"></property>
    </bean>
    <bean name="transpondserviceImple" class="service.transpondServiceImpl">
        <property name="transponddao" ref="transponddaoImpl"></property>
        <property name="messagedao" ref="messagedaoimpl"></property>
        <property name="reminddao" ref="reminddaoImpl"></property>
    </bean>
    <bean name="collectionActionBean" class="action.collectionAction">
        <property name="collectionservice" ref="collectionserviceImpl"></property>
    </bean>
    <bean name="remindActionBean" class="action.remindAction">
        <property name="remindservice" ref="remindserviceImpl"></property>
        <property name="transponddao" ref="transponddaoImpl"></property>
        <property name="messageservice" ref="messageserviceImpl"></property>
        <property name="commentdao" ref="commentdaoImpl"></property>
    </bean>
    <bean id="manageuserList" class="service.manageUserListImpl">
        <property name="messageservice" ref="messageserviceImpl"></property>
        <property name="relationservice" ref="relationserviceImpl"></property>
        <property name="userservice" ref="userserviceImpl"></property>
    </bean>
    <bean name="idolweiboserviceImpl" class="service.idolweiboServiceImpl">
        <property name="userdao" ref="userdaoImpl"></property>
        <property name="relationservice" ref="relationserviceImpl"></property>
        <property name="messageservice" ref="messageserviceImpl"></property>
        <property name="userservice" ref="userserviceImpl"></property>
        <property name="agreedao" ref="agreedaoImpl"></property>
        <property name="collectiondao" ref="collectiondaoImpl"></property>
        <property name="transponddao" ref="transponddaoImpl"></property>
        <property name="messagedao" ref="messagedaoimpl"></property>
    </bean>
    <bean id="commentservice" class="service.commentServiceImpl">
        <property name="messagedao" ref="messagedaoimpl"></property>
        <property name="userdao" ref="userdaoImpl"></property>
        <property name="commentdao" ref="commentdaoImpl"></property>
        <property name="reminddao" ref="reminddaoImpl"></property>
    </bean>
    <bean name="userserviceImpl" class="service.userServiceImpl">
        <property name="userdao" ref="userdaoImpl"></property>
    </bean>
    <bean id="userdao" class="dao.userDAOImpl">
        <property name="sessionFactory" ref="sf"></property>
    </bean>
    <bean name="userdaoImpl" class="dao.userDAOImpl">
        <property name="sessionFactory" ref="sf"></property>
    </bean>
    <bean name="commentdaoImpl" class="dao.commentDAOImpl">
        <property name="sessionFactory" ref="sf"></property>
    </bean>
    <bean name="messageserviceImpl" class="service.messageServiceImpl">
        <property name="messagedao" ref="messagedaoimpl"></property>
        <property name="userdao" ref="userdaoImpl"></property>
    </bean>
    <bean name="messagedaoimpl" class="dao.messageDAOImpl">
        <property name="sessionFactory" ref="sf"></property>
    </bean>
    <bean name="relationserviceImpl" class="service.relationServiceImpl">
        <property name="relationdao" ref="relationdaoImpl"></property>
    </bean>
    <bean name="relationdaoImpl" class="dao.relationDAOImpl">
        <property name="sessionFactory" ref="sf"></property>
    </bean>
    <bean name="agreeserviceImpl" class="service.agreeServicesImpl">
        <property name="agreeDAO" ref="agreedaoImpl"></property>
        <property name="remindDAO" ref="reminddaoImpl"></property>
    </bean>
    <bean name="picturedaoImpl" class="dao.pictureDAOImpl">
        <property name="sessionFactory" ref="sf"></property>
    </bean>
    <bean name="agreedaoImpl" class="dao.agreeDAOImpl">
        <property name="sessionFactory" ref="sf"></property>
    </bean>
    <bean name="collectionserviceImpl" class="service.collectionServiceImpl">
        <property name="collection" ref="collectiondaoImpl"></property>
    </bean>
    <bean name="collectiondaoImpl" class="dao.collectionDAOImpl">
        <property name="sessionFactory" ref="sf"></property>
    </bean>
    <bean name="remindserviceImpl" class="service.remindServiceImpl">
        <property name="reminddao" ref="reminddaoImpl"></property>
    </bean>
    <bean name="reminddaoImpl" class="dao.remindDAOImpl">
        <property name="sessionFactory" ref="sf"></property>
    </bean>
    <bean id="transponddaoImpl" class="dao.transpondDAOImpl">
        <property name="sessionFactory" ref="sf"></property>
    </bean>
    <bean name="usingDetailManageImpl" class="service.usingDetailManageImpl">
        <property name="userdao" ref="userdaoImpl"></property>
        <property name="messagedao" ref="messagedaoimpl"></property>
    </bean>
    <bean name="sf"     class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="dataSource" ref="ds"/>
        <property name="mappingResources">
            <list>
                <value>User.hbm.xml</value>
                <value>Relation.hbm.xml</value>
                <value>Message.hbm.xml</value>
                <value>Picture.hbm.xml</value>
                <value>Comment.hbm.xml</value>
                <value>Agree.hbm.xml</value>
                <value>Collection.hbm.xml</value>
                <value>Transpond.hbm.xml</value>
                <value>Userinfo.hbm.xml</value>
                <value>Privateletter.hbm.xml</value>
                <value>Remind.hbm.xml</value>
            </list>
        </property>

        <property name="hibernateProperties">
            <value>
                hibernate.dialect=org.hibernate.dialect.MySQLDialect
                hibernate.show_sql=true
                hbm2ddl.auto=update
            </value>
        </property>
    </bean>


    <bean name="ds"     class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/miniweibo?characterEncoding=UTF-8"/>
        <property name="username" value="root"/>
        <property name="password" value="lizhiqian512"/>
    </bean>

</beans>